{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-Centered-Links-icons.css') }}">

  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/save_property.css">
{% endblock %}

{% block app_content %}

	{% from "_formhelpers.html" import render_property_control %}

	{{ render_property_control(form) }}

{% endblock %}

{% block scripts %}
   {{ super() }}

   <!-- Optional JavaScript -->
   <script src="../static/js/save_property.js" type="text/javascript"></script>
{% endblock %}